<div class="p-grid p-dir-col">
  <div class="p-grid">
    <h3 class="p-offset-5">Personel Details</h3>
  </div>
  <div class="p-grid padding" >
      <div class=" p-col p-grid ui-inputgroup" style="padding-inline-start: 1em;">
        <span class=" p-col-2 ui-inputgroup-addon">Name:</span>
        <input type="text" class="p-col" pInputText placeholder="Name">         
    </div>
    <!-- <div class=" p-col p-grid ui-inputgroup" style="padding-inline-start: 1em;">
      <span class=" p-col-2 ui-inputgroup-addon">DOB:</span>
      <p-calendar dateFormat='dd/mm/yy' placeholder='Date of Birth'></p-calendar>         
  </div> -->
  </div>

  <div class="p-grid padding" >
      <div class=" p-col p-grid ui-inputgroup" style="padding-inline-start: 1em;">
          <span class=" p-col-2 ui-inputgroup-addon">DOB:</span>
          <p-calendar  dateFormat='dd/mm/yy' placeholder='Date of Birth'></p-calendar>         
      </div>
    </div>

    <div class="p-grid padding" >
      <div class=" p-col p-grid ui-inputgroup" style="padding-inline-start: 1em;">
          <span class=" p-col-2 ui-inputgroup-addon">Address:</span>
          <textarea [rows]="1" class="p-col" pInputTextarea autoResize="autoResize"></textarea>        
    </div>
    </div>

    <div class="p-grid padding" >
        <div class=" p-col p-grid ui-inputgroup" style="padding-inline-start: 1em;">
            <span class="p-col-2 ui-inputgroup-addon">BloodGroup:</span>
            <p-dropdown   [options]="bloodGroups"></p-dropdown>        
      </div>  
  </div>

  <div class="p-grid padding" >
    <div class=" p-col p-grid ui-inputgroup" style="padding-inline-start: 1em;">
        <span class="p-col-2 ui-inputgroup-addon">Occupation</span>
        <input type="text" class="p-col" pInputText placeholder='Occupation'/>       
  </div>
  </div>

  <div class="p-grid padding" >
    <div class=" p-col p-grid ui-inputgroup" style="padding-inline-start: 1em;">
        <span class="p-col-2 ui-inputgroup-addon">Mobile:</span>
        <input type="tel" class="p-col" pInputText placeholder='Contact Number'/>       
  </div>
  </div>

  <div class="p-grid padding" >
    <div class=" p-col p-grid ui-inputgroup" style="padding-inline-start: 1em;">
        <span class="p-col-2 ui-inputgroup-addon">Email:</span>
        <input type="email" class="p-col" pInputText placeholder='Email Id'/>       
  </div>
  </div>
</div>