<div class="p-grid p-md-offset-3" style="margin-top:2em;">
  <div class="p-md-7 p-col-12">
    <p-card class="p-grid p-dir-col">
      <h3 class="p-justify-center" style="text-align: center;">Login Form</h3>
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon p-col-1"><i class="fa fa-user"></i></span>
          <input type="text" class="p-col-11" pInputText placeholder="Username">         
      </div>
      <div class="ui-inputgroup" style="padding-top: 2em;">
          <span class="ui-inputgroup-addon p-col-1"><i class="fa fa-lock"></i></span>
          <input type="password" class="p-col-11" pInputText placeholder="Password">         
      </div>
      <div class="p-col-4 p-offset-4">
        <p-button class="p-col-12"(click)='login()'  label='Login' ></p-button>
      </div>
    </p-card>
  </div>
</div>
