<div class="p-grid p-dir-col">
  <div class="p-grid">
    <h3 class="p-offset-5">Income Details</h3>
  </div>

  <div class="p-grid padding" >
      <div class=" p-col p-grid ui-inputgroup" style="padding-inline-start: 1em;">
        <span class="ui-inputgroup-addon">Primary Income Source:</span>
        <input type="text" class="p-col" pInputText placeholder="Primary Income Source">         
    </div>
  </div>

  <div class="p-grid padding" >
    <div class=" p-col p-grid ui-inputgroup" style="padding-inline-start: 1em;">
      <span class="ui-inputgroup-addon">Secondary Income Source:</span>
      <input type="text" class="p-col" pInputText placeholder="Secondary Income Source">         
  </div>
</div>

<div class="p-grid padding" >
  <div class=" p-col p-grid ui-inputgroup" style="padding-inline-start: 1em;">
    <span class="ui-inputgroup-addon">Gross Income:</span>
    <input type="number" class="p-col" pInputText placeholder="Gross Income">         
</div>
</div>
</div>
